/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("assets/image.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
   
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px; 
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
    max-width: 450px; 
    width: 100%;
    text-align: center;
    animation: fadeIn 1s ease-in-out; 
}

h1 {
    margin-bottom: 25px;
    font-size: 28px;
    color: #ffff;
    letter-spacing: 1px; 
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px; 
    color: #555;
    font-size: 16px;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 12px; /* Padding lebih besar agar input lebih nyaman */
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #0072ff; /* Warna highlight biru saat input aktif */
    box-shadow: 0 0 8px rgba(0, 114, 255, 0.2);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2D4263;  
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #31363F;
    transform: translateY(-3px); 
    box-shadow: 0 6px 15px rgba(0, 114, 255, 0.4); 
}

button:active {
    transform: translateY(0); 
    box-shadow: 0 4px 8px rgba(0, 114, 255, 0.3);
}

.result {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

#totalPrice {
    font-weight: bold;
    color: #F4EEE0;
    font-size: 24px;
}

/* Fade in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    input, button {
        font-size: 14px;
        padding: 10px;
    }
}
